/**
 * @group Variables.
 */
:root {
    --main-color: #FFF;
    --accent-color: greenyellow;
}

/**
 * @group Typography.
 *
 * Put @font-face declarations here.
 */

@font-face {
    font-family: "Hack Regular";
    src: url("../fonts/hack/Hack-Regular.ttf");
}

@font-face {
    font-family: "MonoSpatial";
    src: url("../fonts/MonoSpatial.ttf");
}

@font-face {
    font-family: "Couture Bold";
    src: url("../fonts/couture/couture-bld.otf");
}

a {
    color: var(--accent-color);
}
a:hover {
    text-decoration-style: dashed;
}

.toolbar {
    text-align: center;
}
a.button {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    background: #FFF;
    color: #000;
    text-decoration: none;
}
a.button:hover {
    text-decoration: underline;
    box-shadow: 0 0 50px var(--accent-color);
}

/**
 * @group Reset.
 */
html,
body,
ul,
ol,
figure {
    margin: 0;
    border: none;
    padding: 0;
    list-style-type: none;
}

body {
    padding: 0 20px;
    font: 24px/1.25em "Hack Regular";
    color: var(--main-color);
    max-width: 1400px;
    margin: 0 auto;
    background: #000 fixed url("../images/bg.computer-fade.600x626.png") center 100px no-repeat;
}

ul {
    list-style-type: disc;
}

#Masthead h1 {
    margin: 0;
}
#Masthead img {
    display: none;
}

#MainNavigation ul {
    margin: 0;
    padding: 50px 0 0 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#MainNavigation li:first-child {
    flex-grow: 1;
    padding-left: 0;
}
#MainNavigation li {
    padding: 0 0 0 1em;
    font-family: MonoSpatial;
}
#MainNavigation a {
    color: #d6d8ff;
    text-decoration: none;
}
#MainNavigation .current a,
#MainNavigation a:hover {
    color: var(--accent-color);
}

#MainContent {
    font-size: 18px;
    padding-top: 50px;
    background: #000 fixed url("../images/bg.computer-fade.600x626.png") center 100px no-repeat;
}

#MainContent h1:first-of-type {
    margin: 50px 0 0 0;
    font: 124pt/94pt "Couture Bold";
    letter-spacing: -2px;
    mix-blend-mode: difference;
    word-break: break-word;
}
#MainContent h1:first-of-type span {
    display: block;
}
#MainContent h2:first-of-type {
    margin-top: 0;
}

#MainContent h2 {
    font-family: "Couture Bold";
    padding-top: 3em;
    clear: both;
}

.speaker-photo img {
    float: left;
    border-radius: 50%;
    shape-outside: circle(50%);
    padding: 25px;
    margin: -25px 0 0 -25px;
    width: 25%;
}

#MainFooter {
    margin: 5rem 0 2rem;
    font-size: 12px;
    text-align: center;
}
#MainFooter .u-photo {
    display: none;
}

/**
 * @group Mobile styles.
 *
 * Put small-screen styles here.
 */
@media screen and (max-width: 500px) {
    nav {
        font-size: 16px;
    }
    #MainContent h1:first-of-type {
        font-size: 48pt;
        line-height: 37pt;
    }
}
