/**
 * @group Variables.
 */
:root {
    --main-color: #FFF;
    --accent-color: greenyellow;
}

/**
 * @group Typography.
 *
 * Put @font-face declarations here.
 */

@font-face {
    font-family: "Hack Regular";
    src: url("../fonts/hack/Hack-Regular.ttf");
}

@font-face {
    font-family: "MonoSpatial";
    src: url("../fonts/MonoSpatial.ttf");
}

@font-face {
    font-family: "Couture Bold";
    src: url("../fonts/couture/couture-bld.otf");
}

a {
    color: var(--accent-color);
}
a:hover {
    text-decoration-style: dashed;
}

.toolbar {
    text-align: center;
}
a.button {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    background: #FFF;
    color: #000;
    text-decoration: none;
}
a.button:hover {
    text-decoration: underline;
    box-shadow: 0 0 50px var(--accent-color);
}

/**
 * @group Reset.
 */
html,
body,
ul,
ol,
figure {
    margin: 0;
    border: none;
    padding: 0;
    list-style-type: none;
}

body {
    background: #000;
    font: 24px/1.25em "Hack Regular";
    color: var(--main-color);
}

body > header,
body > main,
body > footer {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1800px;
}
#background-wrap {
    z-index: -100;
    width: 100%;
    height: 100%;
    position: fixed;
    background: transparent fixed url("../images/bg.computer-fade.600x626.png") center 100px no-repeat;
}

ul {
    list-style-type: disc;
}

#Masthead h1 {
    margin: 0;
}
#Masthead img {
    display: none;
}

#MainNavigation ul {
    margin: 0;
    padding: 50px 0 0 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#MainNavigation li:first-child {
    flex-grow: 1;
    padding-left: 0;
}
#MainNavigation li {
    padding: 0 0 0 1em;
    font-family: MonoSpatial;
}
#MainNavigation a {
    color: #d6d8ff;
    text-decoration: none;
}
#MainNavigation .current a,
#MainNavigation a:hover {
    color: var(--accent-color);
}

#MainContent {
    font-size: 18px;
    padding-top: 50px;
}

#MainContent h1:first-of-type {
    margin: 50px 0 0 0;
    font: 124pt/94pt "Couture Bold";
    letter-spacing: -2px;
    mix-blend-mode: difference;
    word-break: break-word;
}
#MainContent h1:first-of-type span {
    display: block;
}
#MainContent h2:first-of-type {
    margin-top: 0;
    padding-top: 0;
}

#MainContent h2 {
    font: 34pt "Couture Bold";
    padding-top: 3em;
    clear: both;
}

.speaker-photo img {
    float: left;
    border-radius: 50%;
    shape-outside: circle(50%);
    padding: 25px;
    margin: -25px 0 0 -25px;
    width: 25%;
}

.session-photo {
    width: 100%;
    border-radius: 25px;
    opacity: .9;
    mix-blend-mode: difference;
}

#MainFooter {
    margin: 5rem 0 2rem;
    font-size: 12px;
    text-align: center;
    clear: both;
}
#MainFooter .u-photo {
    display: none;
}

.sponsors-list {
    display: flex;
    flex-wrap: wrap;
}
.sponsors-list li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
}
.sponsors-list img {
    max-height: 250px;
}

/**
 * Schedule table.
 */
#conference-schedule {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}
#conference-schedule caption { visibility: hidden; }
#conference-schedule th:nth-child(1) {
    width: 175px;
}
#conference-schedule th:nth-child(2) {
    width: 75px;
}
#conference-schedule td {
    background-color: #0F002F;
    opacity: .8;
    border: 1px solid #FFF;
    padding: .5em;
    max-width: 25%;
}
#conference-schedule [src$="placeholder-image.jpg"],
#conference-schedule .speaker-photo img,
#conference-schedule .event-meta,
#conference-schedule .p-description {
    display: none;
}

#conference-schedule .speaker-photo {
    text-align: center;
}
#conference-schedule a[href=""] {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

#conference-schedule td.block-name {
    border-color: #000;
    background: #FFF;
    color: #000;
    text-align: center;
}
#conference-schedule tr:first-child td.block-name {
    border-radius: 2em 0 0 0;
}
#conference-schedule td.time-slot {
    font-size: 9pt;
}
#conference-schedule td:not(.block-name):not(.time-slot) {
    vertical-align: top;
}
#conference-schedule .u-url {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#conference-schedule [itemprop="image"] {
    margin-left: .5em;
    max-width: 50%;
    border-radius: .5em;
}

#conference-schedule h2 {
    font-size: 16pt;
    clear: none;
}
#conference-schedule .p-name {
    font: inherit;
}

/**
 * @group Mobile styles.
 *
 * Put small-screen styles here.
 */
@media screen and (max-width: 500px) {
    nav {
        font-size: 16px;
    }
    #MainContent h1:first-of-type {
        font-size: 44pt;
        line-height: 34pt;
    }
    #MainContent h2 {
        font-size: 24pt;
    }
    #conference-schedule h2,
    #conference-schedule th {
        font-size: 9pt;
    }
    #conference-schedule td {
        font-size: 9pt;
    }
    #conference-schedule .u-url {
        flex-wrap: wrap;
    }
    #conference-schedule [itemprop="image"] {
        max-width: 100%;
        margin: 0;
    }
}
