---
layout: html5
---

<p>{{ site.title }} session details for</p>

{% assign the_title = page.title | split: ":" | first %}
{% assign sub_title = page.title | split: ":" | slice: 1 %}
<h1 id="{{ the_title | slugify }}">{{ the_title }}</h1>

{% if page.image %}
<img src="{{ page.image }}" alt="" class="session-photo" />
{% endif %}

{% for s in page.speakers %}
{% assign speaker = site.data.speakers.speakers[s] %}
<p class="speaker-photo">
    {% if speaker.image %}
    <img src="{{ speaker.image }}" alt="Profile photo for {{ speaker.name }}" />
    {% endif %}
    {% if forloop.first %}Presented by {% else %}and {% endif %}<a href="{% link speakers/index.md %}#{{ speaker.name | slugify }}">{{ speaker.name }}</a>
</p>
{% endfor %}

<h2 style="clear: none;">{{ sub_title }}</h2>

{% if page.teaser %}
<p>{{ page.teaser | markdownify }}</p>
{% endif %}

{{ content }}

{% comment %}
{% include h-event.html event=page download_link=true paginate=true %}
{% endcomment %}
