---
layout: html5
---

<p>{{ site.title }} session details for</p>

{% assign the_title = page.title | split: ":" | first %}
{% assign sub_title = page.title | split: ":" | slice: 1 %}
<h1>{{ the_title }}</h1>

{% if page.image %}
<img src="{{ page.image }}" alt="" class="session-photo" />
{% endif %}

<p class="speaker-photo">
    {% if site.data.speakers.speakers[page.speaker].image %}
    <img src="{{ site.data.speakers.speakers[page.speaker].image }}" alt="Profile photo for {{ site.data.speakers.speakers[page.speaker].name }}" />
    {% endif %}
    Presented by <a href="{% link speakers/index.md %}#{{ site.data.speakers.speakers[page.speaker].name | slugify }}">{{ site.data.speakers.speakers[page.speaker].name }}</a>
</p>

<h2 style="clear: none;">{{ sub_title }}</h2>

{% if page.teaser %}
<p>{{ page.teaser }}</p>
{% endif %}

{{ content }}

{% comment %}
{% include h-event.html event=page download_link=true paginate=true %}
{% endcomment %}
