{%- include globals.liquid -%}
<!DOCTYPE html>
<html lang="{{ lang }}"
      itemscope="itemscope"
      itemtype="https://schema.org/{{ site.type | default: "Thing" }}"
>
{% include head.html %}
<body>
    <div id="background-wrap"></div>{% comment %}This is needed for mobile webkit (Chrome/Safari) to emulate `background-attachment: fixed`.{% endcomment %}
    {% include masthead.html %}
    <main id="MainContent">
    {{ content }}
    </main>
    {% include foot.html %}
<script src="{% link static/js/main.js %}"></script>
</body>
</html>
